* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
}

#root {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.calculator-container {
  width: 13rem;
}

.number-field {
  text-align: right;
  background: #444;
  padding: 1rem;
  color: #fff;
}

.numbers-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.calc-button {
  padding: 1rem;
  border: 1px solid #bbb;
  outline: none;
}

.orange-btn {
  background: #ff7b00;
}

.calc-button:hover {
  background: #aaa;
}

.orange-btn:hover {
  background: #c76000;
}

.zero-btn {
  grid-column: span 2;
}
